:root {
    /******** color ********/
    --color-light-dark: #1E2833;
  
    --color-light-red: #D72638;
    --color-red: #C01230;    
    --color-dark-red: #AA0C29; 
    --color-dark-maroon: #900C25;
    --color-maroon: #7A0822;   
    --color-dark-purple: #64071F; 
    --color-purple: #4E071C;
  }

/*====================================================
                    Footer Section CSS*
=====================================================*/
